footer{
    background-color: #cc2030;
    color: white;
    border-bottom: solid 20px #812118;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size: 12px;
}
footer img{
    width: 35px;
}