
.StockList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.StockList img{
    background-color: silver;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.StockList h5{
    background-color: #cc2030;
    color: white;
    padding: 5px;
    margin: 0px;
    text-align: center;
}
.StockList h4{
    background-color: black;
    color: white;
    padding: 5px;
    margin: 0px;
    text-align: center;
}
.Container_General{
    display: flex;
    flex-flow: row;
    grid-gap: 1rem;
}